body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f9fa;
    
}


/* Header */
.header {
    background-color: #00695c;
    color: white;
    text-align: center;
    padding: 30px;
}

/* Navbar */
.navbar {
    background-color: #004d40;
    text-align: center;
    padding: 10px;
}

.navbar a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}

/* Hero section */
.hero {
    background-image: url("images/rwanda.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 80px 20px;
}

/* Destinations */
.destinations {
    padding: 30px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: white;
    width: 280px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

.card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
}

.card a {
    display: inline-block;
    margin-top: 10px;
    color: #00695c;
    font-weight: bold;
}

/* Video */
.video {
    text-align: center;
    padding: 30px;
}

/* Footer */
.footer {
    background-color: #004d40;
    color: white;
    text-align: center;
    padding: 15px;
}