body{
    background-color:blanchedalmond;
}

nav{
    padding: 20px;
    margin-right: 20px;
    display: flex;
    gap: 200px;
}
#book-button{
    cursor: pointer;
    background-color: green;
}
#explore-button{
    cursor: pointer;
    background-color:green;
}
h1{
    text-align: center;
    color: brown;
}